form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1.3rem 1rem;
    border-radius: 16px;
}
.form_row{
    display: flex;
    /* background-color: orange; */
    gap: 1rem;
    width: 100%;
}
.form_input{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
   
}
.form_input input{
    width: 100%;
    height: 46px;
    border: none;
    border: 0.5px solid var(--main_color);
    border-radius: 3px;
    outline: none;
    padding: 6px;
    font-size: 12px;
}
.form_input label{
    font-size: 15px;
    letter-spacing: 0.5px;
}
.form_input span{
    color: red;
}
.form_input textarea{
    border: 0.5px solid var(--main_color);
    outline: none;
    padding: 5px;
    resize: none;
    height: 170px;
    border-radius: 3px;
    font-size: 12px;
}
.contact_submitBtn{
    padding: 0.7rem 1.6rem;
    font-size: 14px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: var(--main_color);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}
.contact_submitBtn:hover{

    background-color: #EB1F27;
}