
.aboutUs_headWrapper{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg_color);
}
.aboutUs_headWrapper_content{
    width: 80%;

}
.aboutUs_text{
    width: 100%;
    letter-spacing: 0.8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0 2rem;
    
    font-family: "Poppins", serif;
}
.aboutUs_heading{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.heading_design{
    width: 50px;
    height: 5px;
    background: var(--main_color);
}
.aboutUs_heading h1{
    color: var(--main_color);
    font-size: 32px;
    
}
.aboutUs_hero{
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;
}
.hero_content{
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", serif;
}
.hero_content p{
    width: 55%;
    text-align: justify;
    font-size: 19px;
    line-height: 30px;
}
.hero_content img{
    width: 370px;
}