.homepage_container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    /* width: 100vw; */
}
.homepage_content{
    background: var(--bg_color);
    border-bottom-left-radius: 100px;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    height: 573px;
}


/* media query */
@media only screen and (min-width: 769px) and (max-width: 992px){
   .homepage_content{
    padding: 2rem;
    width: 95%;
    height: auto;
    background-color: white;
    gap: 1.3rem;
   }
}
@media screen and (min-width:600px) and (max-width:768px){}
@media screen and (min-width:480px) and (max-width:599px){}
@media screen  and (max-width:480px){}